@media screen and (max-width: 1400px) {
  #profile {
    height: 83vh;
    margin-bottom: 6rem;
  }
  .about-containers {
    flex-wrap: wrap;
  }
  #contact,
  #projects {
    height: fit-content;
  }
  .timeline-item {
    margin-left: 10px; /* Adjust timeline item margin */
  }
}

@media screen and (max-width: 1200px) {
  #desktop-nav {
    display: none;
  }
  #hamburger-nav {
    display: flex;
  }
  #experience,
  .experience-details-container, .timeline {
    margin-top: 2rem;
  }
  #profile,
  .section-container,.timeline{
    display: block;
  }
  .arrow {
    display: none;
  }
  section,
  .section-container, .timeline {
    height: fit-content;
  }
  section {
    margin: 0 5%;
  }
  .section__pic-container {
    width: 275px;
    height: 275px;
    margin: 0 auto 2rem;
  }
  .about-containers {
    margin-top: 0;
  }
}

@media screen and (max-width: 600px) {
  #contact,
  footer {
    height: 40vh;
  }
  #profile {
    height: 83vh;
    margin-bottom: 0;
  }
  article {
    font-size: 1rem;
  }
  footer nav {
    height: fit-content;
    margin-bottom: 2rem;
  }
  .about-containers,
  .contact-info-upper-container,
  .btn-container,
  .timeline {
    flex-wrap: wrap;
  }
  .contact-info-container {
    margin: 0;
  }
  .contact-info-container p,
  .nav-links li a {
    font-size: 1rem;
  }
  .experience-sub-title {
    font-size: 1.25rem;
  }
  .logo {
    font-size: 1.5rem;
  }
  .nav-links {
    flex-direction: column;
    gap: 0.5rem;
    text-align: center;
  }
  .section__pic-container {
    width: auto;
    height: 46vw;
    justify-content: center;
  }
  .section__text__p2 {
    font-size: 1.25rem;
  }
  .title {
    font-size: 2rem;
  }
  .timeline {
    max-width: 100%;
    margin: 0px auto 0 auto;
    margin-left: 0;
  }

  .timeline-item {
    width: 100%;
    padding: 10px;
    border-left: none;
    margin-bottom: 15px;

  }

  .timeline-content {
    padding-left: 0;
  }
  .job-title {
    font-size: 1.25em; /* Reduce font size for job titles */
  }

  .job-duration {
    display: block; /* Ensure job duration spans the full width */
  }
  .timeline-content {
    font-size: 12px;
    word-wrap: break-word;
    -webkit-hyphens: auto;
    -ms-hyphens: auto;
    -moz-hyphens: auto;
    hyphens: auto;
    align-items: center;
  }
}
